.header{
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgb(0 0 0 / 18%);
  position: sticky;
  top: 0;
  z-index: 2;
}

.container__header {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 15px;

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 1024px) {
    padding-top: 11px;
    padding-bottom: 12px;
  }


  a{
    color: #000;
    text-decoration: none;
  }
}

.header__logo{
  width: 19px;
  height: 22px;
  background-image: url(../img/logo.svg);
  background-size: cover;
  display: block;
  margin-right: 1.167em;
  @media (max-width: 390px) {
    margin-right: .9em;
  }
  @media (min-width: 768px) {
    //position: absolute;
    //left: 0;
    //top: 0;
    margin-right: auto;
  }
  @media (min-width: 1024px) {
    width: 31px;
    height: 38px;
  }
}
.header__ul{
  display: flex;
  list-style-type: none;
  gap: 1.833em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  @media (max-width: 390px) {
    gap: 1em;
    font-size: 11px;
  }
  @media (min-width: 768px) {
    gap: 2.333em;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
    gap:  2.000em;
  }

}

.header__menu{
  @media (min-width: 768px) {
    margin-right: auto;
  }
}

/* Modal */

.modal-head-btn{
	cursor: pointer;
}

.modal-info{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	transition: all .15s ease-out;
}

.modal-info.show{
	visibility: visible;
	z-index: 2;
	opacity: 1;
}

.modal__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	transition: none;
}

.modal__window__head{
	position: relative;
	z-index: 3;
	width: 294px;
	height: 181px;
	background: #fff;
	box-shadow: 0px 18px 30px rgba(51, 51, 51, 0.64);
	border-radius: 12px;
	padding-top: 32px;
	padding-left: 32px;
	margin-top: -40px;
	transition: inherit;
}

.modal-info.show .modal__window__head{
	margin-top: 0;
}

.modal__text__head{
	display: flex;
}

.modal__close__head{
	position: absolute;
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
	top: 8px;
	right: 8px;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.18));
}

.modal__kontacts{
	display: flex;
	flex-direction: column;
	width: 180px;
	margin-right: 32px;
	padding-top: 5px;
}

.header__number-phone{
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 16px;
}

.header__number-pic{
	margin-right: 10px;
	vertical-align: middle;
}

.modal__kontacts-icons{
	display: flex;
	flex-direction: column;
}

.modal__kontact-icon{
	height: 24px;
	margin-bottom: 7px;
}