.search__page {
  max-width: 930px;
  margin: 0 auto;
}



.search__main {
  background: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: relative;
}
  h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0 4px;
  }

  // input {
  //   height: 40px;
  //   width: 100%;
  //   border-radius: 12px;
  //   //border: linear-gradient(90deg, rgba(235,16,16,1) 0%, rgba(235,16,16,1) 0%, rgba(0,0,0,1) 100%);
  //   -webkit-border-radius: 12px;
  //   -moz-border-radius: 12px;
  //   -ms-border-radius: 12px;
  //   -o-border-radius: 12px;
  // }


.closeModal {
  width: 24px;
  height: 24px;
  background: #000000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeModal:hover,
.closeModal:active {
  background: #EB1010;
}
.search__elem {
  display: flex;
  align-items: center;
  background: #FFFFFF;
}
.search__btn {
  position: absolute;
  background-image: url("/img/search.svg");
  height: 40px;
  width: 56px;
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.search-input {
  padding: 9px 72px;
  width: 100%;
  position: relative;
  border: none;
  outline: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.18);
  border-radius: 12px;
  overflow: hidden;
 -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.search__input placeholder {
  color: rgba(27, 31, 59, 0.65);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.close__btn {
  position: absolute;
  background-image: url("/img/close.svg");
  height: 40px;
  width: 56px;
  outline: none;
  border: none;
  z-index: 1;
  right: 0;
  background-color: transparent;
}

.search__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 19px 0;

}

.search__categories {
  padding-bottom: 16px;
  ul {
    padding: 0;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 4px;
      list-style-type: none;
      padding: 2px 8px;
      background: #D7D7D7;
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 450px) {
  .search__categories ul {
    width: 100%;
  }
}

/* Tabs style start */

.tabs {
  font-size: 0;
  text-align: center;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>div {
  display: none;
  font-size: 16px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  color: rgba(27, 31, 59, .8);
  margin: 19px 4px 14px
}

.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]:checked+label {
  background-color: #fff;
  border-bottom: 2px solid #526ED3;
  color: #000000;
}

/* Tabs style end */
@media screen and (max-width: 768px) {
  .search__page {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 430px) {
  .search__page {
    max-width: 358px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 360px) {
  .search__page {
    max-width: 330px;
    margin: 0 auto;
  }
}
