body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1024px;
  // background-color: antiquewhite;
}
.container {
  width: 930px;
  margin: 0 auto;
}
// .search {
  
// }
.search__main {
  background: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: relative;
  h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
input {
    height: 40px;
    width: 100%;
    border-radius: 12px;
    //border: linear-gradient(90deg, rgba(235,16,16,1) 0%, rgba(235,16,16,1) 0%, rgba(0,0,0,1) 100%);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
}
.closeModal {
  width: 24px;
  height: 24px;
  background: #000000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 8px;
  text-decoration: none;
}

.closeModal::before,
.closeModal::after 
{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 80%;
  height: 2px;
  color: #ffffff;
}

.closeModal::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.closeModal::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.closeModal:hover,
.closeModal:active
{
  background: #EB1010;
}


.search__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 19px 0;
  // &:hover{
  // }
}
// .search__button {
// }
.search__categories {
  ul {
      padding: 0;
      width: 400px;
      display: flex;
      flex-wrap: wrap;
      li {
          margin: 4px;
          list-style-type: none;
          padding: 2px 8px;
          background: #D7D7D7;
          border-radius: 8px;
      }
  }
}

