.basket-2 {
    font-family: 'Manrope';
    color: #000000;
    background: #fafafa;

    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .basket-2__wrapper {
        max-width: 1024px;
        margin: 0 auto;
        // padding: 26px 47px 40px;
        padding-bottom: 40px;
    }

    .btn-prev {
        text-decoration: none;
        color: #000000;
        margin-bottom: 26px;
        font-size: 1.3em;
    }

    .btn-prev:hover,
    .btn-prev:active {
        background: linear-gradient(5.43deg, #EB1010 4.24%, #D74E4E 115.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .basket__top-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        margin-top: 26px;
    }

    .basket__title {
        font-weight: 700;
        font-size: 32px;
    }

    .basket__delete {
        width: 40px;
        height: 40px;
        background: #000000;
        color: #fff;
        font-size: 1.5em;
        border: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
    }

    .basket__delete:hover,
    .basket__delete:active {
        background: linear-gradient(5.43deg, #EB1010 4.24%, #D74E4E 115.34%);
    }

    .basket__bottom-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ============ Basket-2 style start ============= */

    .basket__bottom-items {
        align-items: flex-start;
    }

    .cards {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .card__content {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .card__photo {
        display: block;
        width: 150px;
        height: 150px;
        background: #ffffff;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        overflow: hidden;
    }

    .card__photo-pic {
        width: 100%;
        height: 100%;
    }

    .card__title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .card__desc {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .card__btn {
        padding: 8px 12px;
        color: #ffffff;
        background: #808080;
        border: none;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        margin-bottom: 14px;
        cursor: pointer;
    }

    .card__price {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .card__sum {
        font-weight: 700;
        font-size: 24px;
    }

    /* ========  счётчик кол-ва товара =========== */

    .count {
        display: flex;
        gap: 8px;
    }

    .count .change {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: #000000;
        border: 2px solid #808080;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .change.minus:active,
    .change.plus:active {
        border-color: #EB1010;
    }

    .change.minus,
    .change.plus {
        position: relative;
    }

    .change.plus::after,
    .change.plus::before,
    .change.minus::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        width: 60%;
        height: 2px;
        background: #000000;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .change.plus::after {
        transform: rotate(90deg) translateX(-9%);
        -webkit-transform: rotate(90deg) translateX(-9%);
        -moz-transform: rotate(90deg) translateX(-9%);
        -ms-transform: rotate(90deg) translateX(-9%);
        -o-transform: rotate(90deg) translateX(-9%);
    }

    .count input {
        width: 24px;
        height: 24px;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        border: none;
        background-color: #fff;
        border: 2px solid #808080;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: #000000;
    }

    /* Checkbox-card style start */

    label {
        width: 25px;
    }

    .custom-checkbox>input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-checkbox>span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        font-weight: 700;
        font-size: 24px;
    }

    .custom-checkbox>span::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 75% 75%;
    }

    .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
        border-color: #EB1010;
        box-shadow: 0 0 4px #D74E4E;
    }

    .custom-checkbox>input:not(:disabled):active+span::before {
        background-color: #EB1010;
        border-color: #EB1010;
    }

    .custom-checkbox>input:checked+span::before {
        border-color: #EB1010;
        background-color: #EB1010;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    /* Checkbox-card  style end */


    /* Total CheckBox style end */

    /* ============ Basket-2 style end ============= */


    /* ====== MEDIA basket-2 start ======= */

    @media screen and (max-width: 768px) {
        // .basket-2__wrapper {
        //     padding: 18px 24px 40px;
        // }

        .basket__top-items {
            margin: 18px 0 25px;
        }

        .basket__title {
            font-size: 24px;
        }

        .card__title {
            font-size: 18px;
            font-weight: 700;
        }

        .card__desc {
            font-size: 14px;
        }

        .card__btn {
            font-size: 12px;
        }

        .card__photo {
            width: 100px;
            height: 100px;
        }
    }

    @media screen and (max-width: 460px) {
        // .basket-2__wrapper {
        //     padding: 16px 16px 40px;
        // }

        .basket__top-items {
            margin: 18px 0 24px;
        }

        .basket__title {
            font-size: 18px;
        }

        .basket-2 .basket__top-items {
            margin: 18px 0 16px;
        }

        .card__title {
            font-size: 16px;
        }

        .card__desc {
            font-size: 12px;
        }

        .card__btn {
            padding: 4px 8px;
        }
    }

    /* ====== MEDIA basket-2 end ======= */
}

.total-busket {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.18);
    padding: 16px 47px;
}

.total__sum-btn {
    display: flex;
    gap: 24px;
    align-items: center;
}

.total__sum {
    font-weight: 700;
    font-size: 24px;
    background: linear-gradient(5.43deg, #EB1010 4.24%, #D74E4E 115.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.total__btn {
    text-decoration: none;
    color: #ffffff;
    padding: 15.5px 18.5px;
    background: linear-gradient(5.43deg, #EB1010 4.24%, #D74E4E 115.34%);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
}

.total__btn:hover {
    background: #821111;
}

/* Total CheckBox style start */

.total label {
    font-weight: 700;
    font-size: 24px;
}

.total-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.total-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.total-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
}

.total-checkbox:checked+label::before {
    border-color: #EB1010;
    background-color: #EB1010;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.total-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #EB1010;
    box-shadow: 0 0 4px #EB1010;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.total-checkbox:not(:disabled):active+label::before {
    background-color: #EB1010;
    border-color: #EB1010;
}

@media screen and (max-width: 768px) {

    .card__sum,
    .total label {
        font-size: 16px;
    }

    .total {
        padding: 18px 24px;
    }

    .total__sum {
        font-size: 18px;
    }

    .total__btn {
        font-size: 16px;
        padding: 11px 16px;
    }
}


@media screen and (max-width: 460px) {
    .total-busket {
        padding: 16px;
    }

    .total__sum-btn {
        gap: 8px;
    }

    .total {
        padding: 16px 18px;
    }

    .total__btn {
        padding: 11px 12.5px;
    }

    .total label {
        margin-top: 5px;
    }
}

@media screen and (max-width: 350px) {
    .checkbox__input-label {
        width: 30%;
        margin-top: 4px;
    }

    .total {
        flex-wrap: wrap;
    }

    .total__btn {
        font-size: 14px;
    }

    .total__sum {
        font-size: 16px;
    }

    .total__sum-btn {
        width: 90%;
        justify-content: space-between;
    }
}