.category__block {
    font-family: 'Manrope';
    background: #fafafa;

    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .category__wrapper {
        max-width: 1024px;
        margin: 0 auto;
        // padding: 26px 47px 0;
    }

    .card__picture {
        width: 450px;
        height: 260px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        overflow: hidden;
    }

    .card__pic {
        width: 450px;
		height: 260px;
    }

    .btn-prev {
        text-decoration: none;
        color: #000000;
        margin-bottom: 26px;
        font-size: 1.3em;
    }
    .btn-prev:hover,
    .btn-prev:active {
        background: linear-gradient(5.43deg, #EB1010 4.24%, #D74E4E 115.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .category__title {
        font-weight: 700;
        font-size: 40px;
        margin: 18px 0 32px;
        text-align: center;
    }

    .category__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .category__card {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-bottom: 16px;
        background: #ffffff;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        margin-bottom: 10px;
    }

    .card__title {
        font-weight: 700;
        font-size: 18px;
    }

    .card__desc {
        font-weight: 400;
        font-size: 14px;
    }

    .btn__category {
        font-weight: 700;
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
        padding: 15.5px 61px;
        background: linear-gradient(5.43deg, #EB1010 4.24%, #D74E4E 115.34%);
        border-radius: 12px;
    }

    .btn__category:hover,
    .btn__category:active
    {
        background: #821111;
    }

    @media screen and (max-width: 820px) {
        .category__wrapper {
            padding: 18px 24px 0;
        }
        .category__card {
            width: 348px;
        }
        .card__picture {
            height: 196px;
			width: 348px;
        }
		.card__pic {
			height: 196px;
			width: 348px;
		}
        .category__cards {
            gap: 24px;
        }
        .category__title {
            margin-bottom: 41px;
        }
        .card__title {
            font-size: 14px;
        }
        .btn__category {
            font-size: 16px;
            padding: 11px 65.5px;
        }
    }

    @media screen and (max-width: 460px) {
        .category__wrapper {
            padding: 16px 16px 0;
        }
        .category__title {
            font-size: 24px;
            margin-bottom: 16px;
        }
        .category__card {
            max-width: 358px;
            margin-bottom: 24px;
        }
        .category__cards {
            gap: 0;
        }
    }

    @media screen and (max-width: 389px) {
        .card__picture {
            max-width: 358px;
        }
		.card__pic{
			max-width: 358px;
		}
    }
}

