.footer {
    font-family: 'Manrope';
    max-width: 1024px;
    background: #ffffff;
    margin: 64px auto 0;

    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* =========== Footer style start =========== */



    .footer__wrapper {
        padding: 60px 51px 48px 48px;
        position: relative;
    }

    .footer__items {
        display: flex;
        // gap: 155px;
        margin-bottom: 42px;
        justify-content: space-between;
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer__item:last-child {
        margin-right: 55px;
    }

    .footer__item-title {
        font-weight: 700;
        font-size: 18px;
    }

    .footer__item-desc  {
        font-weight: 400;
        font-size: 14px;
    }

    .footer__social-links {
        display: flex;
        gap: 8px;
    }

    .footer__social-link {
        width: 24px;
        height: 24px;
        background: #000000;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__social-link:first-child {
        font-size: .8em;
    }
    .footer__social-link:first-child i {
        margin-right: 2px;
    }

    .footer__social-link:nth-child(2) i {
        margin-top: 3px;
    }
    .footer__social-link:nth-child(3) i {
        margin-top: 2.5px;
    }

    .footer__social-link:hover,
    .footer__social-link:active
    {
        background: #EB1010;
    }

    .footer__number-phone {
        position: relative;
        text-decoration: none;
        color: #000000;
        padding-left: 32px;
        margin-top: 3px;
    }

    .footer__number-phone:hover,
    .footer__number-phone:active
    {
        color: #EB1010;
    }

    .footer__number-pic {
        position: absolute;
        top: -3px;
        left: 0;
    }

    .footer__item:nth-child(2) .footer__item-title {
        margin-bottom: 10.5px;
    }

    .footer__item:nth-child(2) .footer__item-desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 15px;
    }

    .footer__link-modal {
        text-decoration: none;
        color: #000000;
    }

    .footer__link-modal:hover,
    .footer__link-modal:active
    {
        color: #EB1010;
    }

    .master__card {
        display: flex;
        align-items: center;
    }

    .footer__bottom {
        display: flex;
        gap: 65px;
    }

    .bottom__col-link {
        color: #000000;
        text-decoration: none;
		  background: none;
			border: none;
			font-size: 14px;
			cursor:pointer;
    }

    .bottom__col-link:hover,
    .bottom__col-link:active 
    {
        color: #EB1010;
    }

    .footer__bottom-desc,
    .footer__bottom-col-text
    {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }

    .footer__bottom-desc {
        max-width: 592px;
    }

    .footer__bottom-col-text {
        margin-bottom: 19px;
        width: 240px;
    }

    .footer__bottom-col-text:last-child {
        margin-bottom: 0;
    }

    .footer__up {
        position: absolute;
        top: 64px;
        right: 40px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #000000;
        color: #ffffff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    .footer__up:hover,
    .footer__up:active
    {
        background: #EB1010;
    }

    /* =========== Footer style end =========== */

	 /* =========== Modal style start =========== */

	 .modal-info{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		z-index: -1;
		opacity: 0;
		transition: all .15s ease-out;
	 }

	 .modal-info.show{
		visibility: visible;
		z-index: 2;
		opacity: 1;
	 }

	 .modal__overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		z-index: 2;
		transition: none;
	 }

	 .modal__window{
		position: relative;
		z-index: 3;
		width: 930px;
		height: 298px;
		background: #fff;
		box-shadow: 0px 18px 30px rgba(51, 51, 51, 0.64);
		border-radius: 12px;
		padding-top: 64px;
		text-align: center;
		margin-top: -40px;
		transition: inherit;
	 }

	 .modal-info.show .modal__window{
		margin-top: 0;
	 }

	 .modal__text{
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
	 }
	 .modal__close{
		position: absolute;
		border: none;
		padding: 0;
		background: none;
		cursor: pointer;
		width: 40px;
		height: 40px;
		top: 8px;
		right: 8px;
		filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.18));
	 }

	 /* =========== Footer style end =========== */

    /* =========== MEIDA Footer style start =========== */

    @media screen and (max-width: 821px) {
        .footer__wrapper {
            padding: 36px 135px 76px 24px;
        }
        // .footer__items {
        //     gap: 24px;
        // }
        .footer__bottom {
            flex-direction: column;
            gap: 16px;
        }
        .footer__item:last-child {
            margin-right: 0;
        }
        .footer__bottom-col-text {
            margin-bottom: 16px;
        }
        .footer__bottom-col-text {
            width: 250px;
        }
		  .modal__window{
				width: 790px;
				height: 250px;
				padding-top: 60px;
			}
			.modal__text{
				font-size: 14px;
				line-height: 19px;
			}
    }

    @media screen and (max-width: 744px) {
        .footer__items {
            flex-wrap: wrap;
        }
        .footer__item:first-child {
            width: 100%;
            margin-bottom: 44px;
        }
    }

    @media screen and (max-width: 460px) {
        .footer__wrapper {
            padding: 23px 16px 76px;
        }
        .footer__bottom-desc {
            width: 358px;
        }
        .footer__bottom {
            gap: 4px;
        }
        .footer__bottom-col-text {
            margin-bottom: 40px;
            width: 340px;
        }
        .footer__items {
            flex-wrap: wrap;
            /* column-gap: 40px; */
            justify-content: space-between;
            margin-bottom: 0;
        }
        .footer__item {
            gap: 4px;
        }
        .footer__item:last-child {
            align-items: flex-end;
        }
        .footer__item:nth-child(2) .footer__item-desc {
            margin-bottom: 4px;
        }
        .footer__item-title {
            font-size: 14px;
        }
        .footer__item:nth-child(2) .footer__item-desc,
        .footer__item-desc {
            font-size: 12px;
        }
    }

    @media screen and (max-width: 390px) {
        .footer__bottom-desc,
        .footer__bottom-col-text {
            width: auto;
        }
		  .modal__window{
				width: 358px;
				height: 189px;
				padding-top: 35px;
			}
			.modal__text{
				font-size: 12px;
				line-height: 16px;
			}
			.modal__close{
				width: 24px;
				height: 24px;
			}
			.modal__close__svg{
				width: 24px;
				height: 24px;
			}
    }
    /* =========== MEIDA Footer style end =========== */
}




