<!-- Basket-2 block start -->
<div class="container">
  <section class="basket-2">
    <div class="basket-2__wrapper">
      <a href="#!" class="btn-prev"><span><i class="fa-solid fa-arrow-left"></i></span></a>
      <div class="basket__top-items">
        <h2 class="basket__title">Корзина(3)</h2>
        <button class="basket__delete"><span><i class="fa-solid fa-trash-can"></i></span></button>
      </div>
      <div class="basket__bottom-items">
        <div class="cards">
          <div class="card">
            <label class="custom-checkbox">
              <input type="checkbox" value="value-1" class="subOption">
              <span></span>
            </label>
            <div class="card__content">
              <div class="card__photo">
                <img src="./img/cart.png" alt="photo__card" class="card__photo-pic">
              </div>
              <div class="card__info">
                <h2 class="card__title">Фотообои De-Art Раф...</h2>
                <p class="card__desc">Фотообои De-Art Раф панарама M</p>
                <div class="btn">
                  <button class="card__btn" type="button">Текстура</button>
                  <button class="card__btn" type="button">Артикул</button>
                </div>
                <div class="card__price">
                  <h2 class="card__sum">285,0 руб</h2>
                  <div class="count">
                    <span class="change minus min"></span>
                    <input type="text" name="productСount" value="1" disabled="">
                    <span class="change plus"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <label class="custom-checkbox">
              <input type="checkbox" value="value-1" class="subOption">
              <span></span>
            </label>
            <div class="card__content">
              <div class="card__photo">
                <img src="./img/cart.jpg" alt="photo__card" class="card__photo-pic">
              </div>
              <div class="card__info">
                <h2 class="card__title">Фотообои De-Art Раф...</h2>
                <p class="card__desc">Фотообои De-Art Раф панарама M</p>
                <div class="btn">
                  <button class="card__btn" type="button">Текстура</button>
                  <button class="card__btn" type="button">Артикул</button>
                </div>
                <div class="card__price">
                  <h2 class="card__sum">285,0 руб</h2>
                  <div class="count">
                    <span class="change minus min"></span>
                    <input type="text" name="productСount" value="1" disabled="">
                    <span class="change plus"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <label class="custom-checkbox">
              <input type="checkbox" value="value-1" class="subOption">
              <span></span>
            </label>
            <div class="card__content">
              <div class="card__photo">
                <img src="./img/cart_cart.jpg" alt="photo__card" class="card__photo-pic">
              </div>
              <div class="card__info">
                <h2 class="card__title">Фотообои De-Art Раф...</h2>
                <p class="card__desc">Фотообои De-Art Раф панарама M</p>
                <div class="btn">
                  <button class="card__btn" type="button">Текстура</button>
                  <button class="card__btn" type="button">Артикул</button>
                </div>
                <div class="card__price">
                  <h2 class="card__sum">285,0 руб</h2>
                  <div class="count">
                    <span class="change minus min"></span>
                    <input type="text" name="productСount" value="1" disabled="">
                    <span class="change plus"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="total">
      <div class="checkbox__input-label">
        <input type="checkbox" id="option" class="total-checkbox">
        <label for="option"> Все</label>
      </div>
      <div class="total__sum-btn">
        <h2 class="total__sum">855,0 руб</h2>
        <a href="#!" class="total__btn">Оформить заказ</a>
      </div>
    </div>
  </section>
</div>
<!-- Basket-2 block end -->
