<!-- Basket-1 block start -->
<div class="container">
  <section class="basket-1">
    <div class="basket-1__wrapper">
      <a href="#!" class="btn-prev"><span><i class="fa-solid fa-arrow-left"></i></span></a>
      <div class="basket__top-items">
        <h2 class="basket__title">Корзина(0)</h2>
        <button class="basket__delete" type="button"><span><i class="fa-solid fa-trash-can"></i></span></button>
      </div>
      <div class="basket__bottom-items">
        <img src="./img/girl_shoppingcart.png" alt="girl_in_a_shopping_cart" class="basket__picture">
        <h3 class="basket__bottom-desc">Еще нет товаров? Нажимите ниже, чтобы посмотреть</h3>
        <a href="#!" class="basket__bottom-more">Смотреть товары</a>
      </div>
    </div>
  </section>
</div>
<!-- Basket-1 block end -->
