<section class="category__block">
    <div class="category__wrapper">
        <a href="#!" class="btn-prev"><span><i class="fa-solid fa-arrow-left"></i></span></a>
        <h2 class="category__title">Название категории</h2>
        <div class="category__cards">

            <div class="category__card">
                <div class="card__picture">
                    <img src="./img/cart.jpg" alt="wrapper" class="card__pic">
                </div>
                <h2 class="card__title">Название обой</h2>
                <p class="card__desc">Информация</p>
                <a href="#!" class="btn__category">Перейти</a>
            </div>
            <div class="category__card">
                <div class="card__picture">
                    <img src="./img/cart_cart.jpg" alt="wrapper" class="card__pic">
                </div>
                <h2 class="card__title">Название обой</h2>
                <p class="card__desc">Информация</p>
                <a href="#!" class="btn__category">Перейти</a>
            </div>
            <div class="category__card">
                <div class="card__picture">
                    <img src="./img/cart.jpg" alt="wrapper" class="card__pic">
                </div>
                <h2 class="card__title">Название обой</h2>
                <p class="card__desc">Информация</p>
                <a href="#!" class="btn__category">Перейти</a>
            </div>
            <div class="category__card">
                <div class="card__picture">
                    <img src="./img/cart.jpg" alt="wrapper" class="card__pic">
                </div>
                <h2 class="card__title">Название обой</h2>
                <p class="card__desc">Информация</p>
                <a href="#!" class="btn__category">Перейти</a>
            </div>

        </div>
    </div>
</section>