  <div class="container">
    <button class="about__arrow" aria-label="Назад">
      <svg width="24" height="20" viewbox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.79752 0.574598L8.78939 0.582731L0.387937 8.97317C0.321633 9.03985 0.262725 9.1135 0.212237 9.19283L0.0804497 9.43442L0.0255211 9.59916L0.0255211 9.71998C-0.00850704 9.90513 -0.00850704 10.0949 0.0255211 10.2801L0.0255211 10.5217L0.124362 10.7084C0.180884 10.8124 0.251054 10.9085 0.333008 10.9939L8.78939 19.4173C9.34897 19.9814 10.2599 19.985 10.824 19.4255L10.8321 19.4173C11.3746 18.8487 11.3746 17.9542 10.8321 17.3856L5.82417 12.3667C5.61187 12.1502 5.61527 11.8025 5.83184 11.5902C5.93258 11.4914 6.06749 11.4352 6.20857 11.4332L22.5612 11.4332C23.3558 11.4333 23.9999 10.7892 24 9.99463C24 9.20004 23.356 8.55593 22.5614 8.55582L6.20857 8.55582C5.90535 8.55155 5.66294 8.30229 5.66721 7.99907C5.66922 7.85802 5.72538 7.72309 5.82417 7.62235L10.8321 2.62539C11.3816 2.05536 11.3816 1.15271 10.8321 0.58268C10.2725 0.0186195 9.36158 0.0149651 8.79752 0.574598Z" fill="black"/>
      </svg>
    </button>
    <div class="delivery">
      <h2 class="delivery__page-title">Доставка и Оплата</h2>
      <img class="delivery__img" src="img/delivery.png" alt="Изображение">
      <div class="delivery__minsk">
        <h3 class="delivery__title">По&nbsp;г. Минску</h3>
        <p class="delivery__desc">
          <span>Доставка:</span> курьером в&nbsp;пределах МКАД осуществляется <span>бесплатно.</span>
        </p>
        <p class="delivery__desc">
          <span>Оплата:</span> наличными на месте при получении товара или через систему "РАСЧЁТ" (ЕРИП) в белорусских рублях.
        </p>
      </div>
      <div class="delivery__bel">
        <picture class="line-short" tabindex="0">
          <source media="(max-width: 576px)" srcset="img/line-short-mob.png">
          <source media="(min-width: 577px)" srcset="img/line-short.png">
          <img src="img/line-short.png" alt="Линия">
        </picture>
        <h3 class="delivery__title">По&nbsp;Беларуси</h3>
        <p class="delivery__desc">
          <span>Доставка:</span> осуществляется белпочтой до&nbsp;двери.
        </p>
        <p class="delivery__desc">
          <span>Оплата:</span> наличными на&nbsp;месте при получении товара.
        </p>
        <p class="delivery__desc">
          Стоимость доставки фотообоев по&nbsp;Беларуси 10&nbsp;руб.
        </p>
        <p class="delivery__desc">
          Доставка происходит на&nbsp;следующий рабочий день с&nbsp;момента отправления.
          Время доставки согласовывает почтовый курьер заранее.
        </p>
        <p class="delivery__desc kom">
          Комиссия за денежный перевод не оплачивается.
        </p>
      </div>
      <div class="delivery__packing">
        <picture class="line-short" tabindex="0">
          <source media="(max-width: 576px)" srcset="img/line-short-mob.png">
          <source media="(min-width: 577px)" srcset="img/line-short.png">
          <img src="img/line-short.png" alt="Линия">
        </picture>
        <p class="delivery__packing-desc">
          Все фотообои упакованы в&nbsp;жёсткие картонные тубы,
          для предотвращения повреждение при транспортировке.
        </p>
        <p class="delivery__packing-desc">
          Рекомендуем, перед оплатой, при получении фотообоев,
          осмотреть тубус (упаковка) на&nbsp;наличие механических повреждений.
        </p>
      </div>
      <div class="delivery__erip">
        <picture class="line-short" tabindex="0">
          <source media="(max-width: 576px)" srcset="img/line-short-mob.png">
          <source media="(min-width: 577px)" srcset="img/line-short.png">
          <img src="img/line-short.png" alt="Линия">
        </picture>
        <h3 class="delivery__title erip">
          Оплата через систему &laquo;РАСЧЁТ&raquo; (ЕРИП)
        </h3>
        <p class="delivery__desc-pay">
          Уважаемые покупатели, оплатить товар через систему "Расчёт" можно
          <span>после согласования</span> размера и стоимости заказа.
        </p>
        <img class="delivery__erip-img" src="img/erip.png" alt="Изображение ЕРИП">
        <p class="delivery__desc-pay">
          Оплатить товары интернет-магазина Вы&nbsp;можете через систему &laquo;Расчет&raquo; (ЕРИП),
          выбрав способ оплаты Система &laquo;Расчет&raquo; (ЕРИП) и&nbsp;оформив заказ, а&nbsp;далее&nbsp;&mdash;
          наш менеджер перезвонит вам для уточнения деталей по&nbsp;доставке и&nbsp;сообщит вам реквизиты для оплаты в&nbsp;ЕРИП.<br>
          Произвести оплату через ЕРИП вы&nbsp;можете в&nbsp;любом удобном для Вас месте, в&nbsp;удобное для Вас время, в&nbsp;удобном
          для Вас пункте банковского обслуживания&nbsp;&mdash; интернет-банке, с&nbsp;помощью мобильного банкинга, инфокиоска, кассе банков, банкомате и&nbsp;т.д.<br>
          Совершить оплату можно с&nbsp;использованием наличных денежных средств, электронных денег и&nbsp;банковских платежных карточек в&nbsp;пунктах банковского
          обслуживания банков, которые оказывают услуги по&nbsp;приему платежей, а&nbsp;также посредством инструментов дистанционного банковского обслуживания.
        </p>
        <h4 class="delivery__erip-title">
          ДЛЯ ПРОВЕДЕНИЯ ПЛАТЕЖА НЕОБХОДИМО:
        </h4>
        <ul class="erip__instruction">
          <li class="erip__instruction-item">⦁	Выбрать</li>
          <li class="erip__instruction-item">⦁	Пункт <span>Система Расчет(ЕРИП)</span></li>
          <li class="erip__instruction-item"><span>⦁	Интернет-магазины/сервисы</span></li>
          <li class="erip__instruction-item"><span>⦁	O</span></li>
          <li class="erip__instruction-item"><span>⦁	Oboiminsk.by</span></li>
          <li class="erip__instruction-item">⦁	Для оплаты «Товара» ввести <span class="number">Номер заказа.</span></li>
          <li class="erip__instruction-item">⦁	Проверить корректность информации: сумму платежа, описание услуги</li>
          <li class="erip__instruction-item">⦁	Совершить платеж.</li>
        </ul>
        <p class="delivery__desc-check">
          Если Вы&nbsp;осуществляете платеж в&nbsp;кассе банка, пожалуйста, сообщите кассиру
          о&nbsp;необходимости проведения платежа через систему &laquo;Расчет&raquo; (ЕРИП).
        </p>
      </div>
    </div>
  </div>
