<footer class="footer">
    <div class="footer__wrapper">
        <!-- Top column -->
        <div class="footer__items">
            <!-- Column 1 -->
            <div class="footer__item">
                <h3 class="footer__item-title">Контакты</h3>
                <p class="footer__item-desc">г. Минск, Беларусь</p>
                <div class="footer__social-links">
                    <a href="https://t.me/FotooboiMinsk" class="footer__social-link"><span><i class="fa-solid fa-paper-plane"></i></span></a>
                    <a href="viber://chat?number=%2B375292005818" class="footer__social-link"><span><i class="fa-brands fa-viber"></i></span></a>
                    <a href="https://instagram.com/fotooboiminsk.by" class="footer__social-link"><span><i class="fa-brands fa-instagram"></i></span></a>
                </div>
                <a href="tel:+375444716607" class="footer__number-phone">
                    <img src="./img/a1.svg" alt="A1" class="footer__number-pic">
                    +375 (44) 471 66 07 <span>(A1)</span>
                </a>
                <a href="tel:+375292718293" class="footer__number-phone">
                    <img src="./img/mts.svg" alt="MTS" class="footer__number-pic">
                    +375 (29) 271 82 93 <span>(Мтс)</span>
                </a>
            </div>
            <!-- Column 2 -->
            <div class="footer__item">
                <h3 class="footer__item-title">График работы</h3>
                <p class="footer__item-desc">Режим обработки заказов<br>интернет-магазина
                </p>
                <p class="footer__item-desc">Пн.-суб. 9.00-19.00.<br>Выходной: воскресенье.</p>
            </div>
            <!-- Column 3 -->
            <div class="footer__item">
                <h3 class="footer__item-title">Способы оплаты</h3>
                <div class="master__card">
                    <img src="./img/Group.svg" alt="" class="master__card-pic">
                    <img src="./img/mastercard.svg" alt="" class="master__card-pic">
                    <img src="./img/belcard.svg" alt="" class="master__card-pic">
                    <img src="./img/bepaid.svg" alt="" class="master__card-pic">
                </div>
                <p class="footer__item-desc">Visa &nbsp; MasterCard<br>Белкарт &nbsp; bePaid</p>
            </div>
        </div>
        <!-- Bottom column -->
        <div class="footer__bottom">
            <h3 class="footer__bottom-desc">
                Интернет-магазин зарегистрирован в Торговом реестре Республики Беларусь 18.01.2012 г.
                Регистрационный номер: 149834 Индивидуальный предприниматель Акулич Сергей Владимирович Юридический
                адрес: Беларусь г.Минск ул. "Олешева" 5-2-52
                Св-во о регистрации №1836 выдано Минским Горисполкомом
            </h3>
            <div class="footer__bottom-col">
					<h3 class="footer__bottom-col-text">
						Информация для покупателя
						<button id="modal_btn_open" class="bottom__col-link"><span><i class="fa-solid fa-arrow-up-right-from-square"></i></span></button>
				  	</h3>
                <h3 class="footer__bottom-col-text">
                    © 2007-2023 Настенные покрытия от www.oboiminsk.by. Все права защищены.
                </h3>
            </div>
        </div>
        <a href="#1" class="footer__up" onclick="return up()">
            <span><i class="fa-solid fa-arrow-up"></i></span>
        </a>
    </div>
	 <div id="modal" class="modal-info">
		<div class="modal__window">
			<button id="modal_btn_close" class="modal__close">
				<svg class="modal__close__svg" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="20" cy="20" r="20" fill="black"/>
					<path d="M24 16L16 24" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16 16L24 24" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
			 	</svg>
			</button>
			<div class="modal__text">Индивидуальный предприниматель<br>Акулич Сергей Владимирович<br>Юридический адрес: Беларусь г.Минск ул. "Олешева" 5-52<br>Сводетельство о регистрации от 3 июня 2019г.<br>Регистрационный орган: Минский Горисполком<br>УНП: 190456285<br>Email: info@oboiminsk.by</div>
		</div>
		<div id="overlay" class="modal__overlay"></div>
	 </div>
</footer>