<header class="header">
	<div class="container__header">
		<a href="#" class="header__logo"></a>
		<nav class="header__menu">
		  <ul class="header__ul">
			<li class="header__li"><a href="#">О нас</a></li>
			<li class="header__li"><a id="modal_btn_open_head" class="modal-head-btn">Контакты</a></li>
			<li class="header__li"><a href="#">Доставка и оплата</a></li>
			<li class="header__li"><a href="#">Отзывы</a></li>
		  </ul>
		</nav>
	</div>
	<div id="modal_head" class="modal-info">
		<div class="modal__window__head">
			<button id="modal_btn_close_head" class="modal__close__head">
				<svg class="modal__close__svg__head" width="24" height="24" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="20" cy="20" r="20" fill="black"/>
					<path d="M24 16L16 24" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16 16L24 24" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</button>
			<div class="modal__text__head">
				<div class="modal__kontacts">
					<a href="tel:+375444716607" class="header__number-phone">
						<img src="./img/a1.svg" alt="A1" class="header__number-pic">
						+375 (44) 471 66 07 <span>(A1)</span>
					</a>
					<a href="tel:+375292718293" class="header__number-phone">
						<img src="./img/mts.svg" alt="MTS" class="header__number-pic">
						+375 (29) 271 82 93 <span>(Мтс)</span>
					</a>
					<a href="mailto:info@oboiminsk.by" class="header__number-phone">
						<img src="./img/email.svg" alt="Email" class="header__number-pic">
						info@oboiminsk.by
					</a>
				</div>
				<div class="modal__kontacts-icons">
					<a href="https://instagram.com/fotooboiminsk.by" class="modal__kontact-icon"><img src="./img/instagram.svg" alt="instagram"></a>
					<a href="tel:+375444716607" class="modal__kontact-icon"><img src="./img/phone.svg" alt="instagram"></a>
					<a href="viber://chat?number=%2B375292005818" class="modal__kontact-icon"><img src="./img/viber.svg" alt="instagram"></a>
					<a href="https://t.me/FotooboiMinsk" class="modal__kontact-icon"><img src="./img/telegramm.svg" alt="instagram"></a>
				</div>
			</div>
		</div>
		<div id="overlay_head" class="modal__overlay"></div>
	</div>
  </header>
  
  