<!-- ================= Внимание ================== -->
<!-- Включение нав-бара произойдёт когда ширина экрана станет меньше чем 821px -->
<div class="wrapper_nav-bar">
    <div class="nav-bar">
        <div class="nav-bar__items">

            <!-- Каждой ссылке если добавить клас active, она станет красной -->

            <a href="#!" class="nav-bar__link home active"></a>
            <a href="#!" class="nav-bar__link search"></a>
            <!-- <a href="#!" class="nav-bar__link market"></a> -->
            <!-- Если в корзину не добавляли не одного товара, то верхняя ссылка, это пустая корзина -->

            <!-- Если в корзину добавляли 1 товар и больше то нижняя ссылка -->
            <a href="#!" class="nav-bar__link market">
                <span>1</span>
            </a>
        </div>
    </div>
</div>