<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="search">
        <div class="container">
            <div class="search__main">
                <h1>Поиск</h1>
                <div class="closeModal"></div>
                <input type="text">
                <div class="search__buttons">
                    <div class="search__button">Все 32</div>
                    <div class="search__button">Популярные 12</div>
                    <div class="search__button">Категории 20</div>
                </div>
                <div class="search__categories">
                    <ul>
                        <li>Популярные</li>
                        <li>Фрески</li>
                        <li>Для гостинной</li>
                        <li>Фрески</li>
                        <li>Популярные</li>
                        <li>Для гостинной</li>
                        <li>Для гостинной</li>
                        <li>Орхидеи</li>
                        <li>Мрамор</li>
                        <li>Мрамор</li>
                        <li>Популярные</li>
                        <li>3D Фотообои</li>
                        <li>3D Фотообои</li>
                        <li>Для гостинной</li>
                        <li>Фрески</li>
                        <li>Фрески</li>
                        <li>3D Фотообои</li>
                        <li>Популярные</li>
                        <li>Для детей</li>
                        <li>Орхидеи</li>
                        <li>Орхидеи</li>
                        <li>Фрески</li>
                        <li>Для детей</li>
                        <li>Орхидеи</li>
                        <li>Для детей</li>
                        <li>Фрески</li>
                        <li>Популярные</li>
                        <li>Для детей</li>
                        <li>Фрески</li>
                        <li>Популярные</li>
                        <li>Фрески</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>