<body>
    <div class="search__page">
        <!-- <div class="container__search"> -->
            <div class="search__main">
                <h1>Поиск</h1>
                <a href="#!" class="closeModal">
                    <img src="../img/Close_round_light.png" alt="Close_round_light" class="closeModal-pic">
                </a>
                <div class="search__elem">
                  <button class="search__btn"></button>
                  <input class="search-input" type="text" placeholder="Value">
                  <button class="close__btn"></button>
                </div>
                <div class="tabs">
                    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                    <label for="tab-btn-1">Все 32</label>
                    <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                    <label for="tab-btn-2">Популярные 12</label>
                    <input type="radio" name="tab-btn" id="tab-btn-3" value="">
                    <label for="tab-btn-3">Категории 20</label>
                    <div id="content-1">
                        <div class="search__categories">
                            <ul>
                                <li>Популярные</li>
                                <li>Абстракции-разное</li>
                                <li>Мрамор</li>
                                <li>Листья/Перья</li>
                                <li>Для гостинной</li>
                                <li>Одуванчик</li>
                                <li>Море и пляжи</li>
                                <li>Орхидеи</li>
                                <li>3D Фотообои</li>
                                <li>Водопад</li>
                                <li>Современный город</li>
                                <li>Подросткам</li>
                                <li>Лес</li>
                                <li>Для детей</li>
                                <li>Природа</li>
                                <li>Цветы</li>
                                <li>Карты</li>
                                <li>Виды из окна</li>
                                <li>Старый город</li>
                                <li>Для кухни</li>
                                <li>Мрамор/Флюид</li>
                                <li>Листва</li>
                                <li>Фрески</li>
                                <li>Горы</li>
                                <li>Расширяющее пространство</li>
                                <li>Дерево</li>
                                <li>Розы</li>
                                <li>Лофт</li>
                                <li>3D Цветы</li>
                                <li>Тропики</li>
                                <li>Транспорт</li>
                            </ul>
                        </div>
                    </div>
                    <div id="content-2">
                        <div class="search__categories">
                            <ul>
                                <li>Абстракции-разное</li>
                                <li>Мрамор</li>
                                <li>Одуванчик</li>
                                <li>Розы</li>
                                <li>Дерево</li>
                                <li>Лес</li>
                                <li>Листва</li>
                                <li>3D Цветы</li>
                                <li>Водопад</li>
                                <li>Тропики</li>
                                <li>Горы</li>
                                <li>Орхидеи</li>
                            </ul>
                        </div>
                    </div>
                    <div id="content-3">
                        <div class="search__categories">
                            <ul>
                                <li>Популярные</li>
                                <li>Для кухни</li>
                                <li>Для детей</li>
                                <li>Цветы</li>
                                <li>Подросткам</li>
                                <li>3D Фотообои</li>
                                <li>Для гостинной</li>
                                <li>Транспорт</li>
                                <li>Абстрацкии-разное</li>
                                <li>Листья/Перья</li>
                                <li>Фрески</li>
                                <li>Старый город</li>
                                <li>Современный город</li>
                                <li>Виды из окна</li>
                                <li>Природа</li>
                                <li>Море и пляжи</li>
                                <li>Лофт</li>
                                <li>Мрамор/Флюид</li>
                                <li>Расширяющее пространство</li>
                                <li>Карты</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</body>
