<div class="container">
  <!-- <div class="container__search"> -->
  <div class="search__main">
    <h1>Поиск</h1>
    <a href="#!" class="closeModal">
      <!-- <img src="../img/closeroundlight.svg" alt="Close_round_light" class="closeModal-pic"> -->
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.39766 2.59985L2.59766 7.39985" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M2.59844 2.59985L7.39844 7.39985" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>

    <div class="search__inputs1 ">
      <form>
        <button class="btn__search1" type="submit"></button>
        <input type="text" name="search" class="search__input search-input" placeholder="Value">
        <button class="btn__clear1" type="reset"></button>
      </form>
    </div>

    <div class="tabs">
      <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
      <label for="tab-btn-1">Все 32</label>
      <input type="radio" name="tab-btn" id="tab-btn-2" value="">
      <label for="tab-btn-2">Популярные 12</label>
      <input type="radio" name="tab-btn" id="tab-btn-3" value="">
      <label for="tab-btn-3">Категории 20</label>
      <div id="content-1">
        <div class="search__categories">
          <ul>
            <li><a href="#!">Популярные</a></li>
            <li><a href="#!">Абстракции-разное</a></li>
            <li><a href="#!">Мрамор</a></li>
            <li><a href="#!">Листья/Перья</a></li>
            <li><a href="#!">Для гостинной</a></li>
            <li><a href="#!">Одуванчик</a></li>
            <li><a href="#!">Море и пляжи</a></li>
            <li><a href="#!">Орхидеи</a></li>
            <li><a href="#!">3D Фотообои</a></li>
            <li><a href="#!">Водопад</a></li>
            <li><a href="#!">Современный город</a></li>
            <li><a href="#!">Подросткам</a></li>
            <li><a href="#!">Лес</a></li>
            <li><a href="#!">Для детей</a></li>
            <li><a href="#!">Природа</a></li>
            <li><a href="#!">Цветы</a></li>
            <li><a href="#!">Карты</a></li>
            <li><a href="#!">Виды из окна</a></li>
            <li><a href="#!">Старый город</a></li>
            <li><a href="#!">Для кухни</a></li>
            <li><a href="#!">Мрамор/Флюид</a></li>
            <li><a href="#!">Листва</a></li>
            <li><a href="#!">Фрески</a></li>
            <li><a href="#!">Горы</a></li>
            <li><a href="#!">Расширяющее пространство</a></li>
            <li><a href="#!">Дерево</a></li>
            <li><a href="#!">Розы</a></li>
            <li><a href="#!">Лофт</a></li>
            <li><a href="#!">3D Цветы</a></li>
            <li><a href="#!">Тропики</a></li>
            <li><a href="#!">Транспорт</a></li>
          </ul>
        </div>
      </div>
      <div id="content-2">
        <div class="search__categories">
          <ul>
            <li><a href="#!">Абстракции-разное</a></li>
            <li><a href="#!">Мрамор</a></li>
            <li><a href="#!">Одуванчик</a></li>
            <li><a href="#!">Розы</a></li>
            <li><a href="#!">Дерево</a></li>
            <li><a href="#!">Лес</a></li>
            <li><a href="#!">Листва</a></li>
            <li><a href="#!">3D Цветы</a></li>
            <li><a href="#!">Водопад</a></li>
            <li><a href="#!">Тропики</a></li>
            <li><a href="#!">Горы</a></li>
            <li><a href="#!">Орхидеи</a></li>
          </ul>
        </div>
      </div>
      <div id="content-3">
        <div class="search__categories">
          <ul>
            <li><a href="#!">Популярные</a></li>
            <li><a href="#!">Для кухни</a></li>
            <li><a href="#!">Для детей</a></li>
            <li><a href="#!">Цветы</a></li>
            <li><a href="#!">Подросткам</a></li>
            <li><a href="#!">3D Фотообои</a></li>
            <li><a href="#!">Для гостинной</a></li>
            <li><a href="#!">Транспорт</a></li>
            <li><a href="#!">Абстрацкии-разное</a></li>
            <li><a href="#!">Листья/Перья</a></li>
            <li><a href="#!">Фрески</a></li>
            <li><a href="#!">Старый город</a></li>
            <li><a href="#!">Современный город</a></li>
            <li><a href="#!">Виды из окна</a></li>
            <li><a href="#!">Природа</a></li>
            <li><a href="#!">Море и пляжи</a></li>
            <li><a href="#!">Лофт</a></li>
            <li><a href="#!">Мрамор/Флюид</a></li>
            <li><a href="#!">Расширяющее пространство</a></li>
            <li><a href="#!">Карты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>