html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}


body{
  margin: 0;
  font-family: 'Manrope', sans-serif;
  color: #000;
}
.wrapper-site{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
